@keyframes font-family-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  background-color: rgb(248, 242, 235);
}

.navbar-brand {
  font-family: "DM Sans", sans-serif;
  animation: font-family-animation 10s linear infinite;
  transition: font-family 1s ease-in-out;
  font-size: 3em;
  color: #181818;
}

.navbar-brand:hover {
  color: #ffac81;
}
