.recipe-start {
  background-color: #ffac81;
  opacity: 0.9;
  width: 100%;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.title {
  font-family: "Abril Fatface", cursive;
  color: white;
}
